.info {
    float: left;
    position: absolute;
    padding-left: 6px;
    z-index: 99;
    overflow: visible;
}

svg {
    /* SVG Frame */
    outline: thin solid lightgray;
    outline-offset: 0px;
    border-radius: 2pt;
    position: absolute;
}

/* Region */
.region {
    fill-opacity: 1.0;
    stroke: black;
    stroke-width: 0.5;
}

.region.hovered {
    stroke-width: 2.0;
}

.region.not-selected {
    fill-opacity: 0.3;
}


/* Municipality */
.municipality {
    stroke: black;
    stroke-width: 0.3;
}

.municipality.hovered, .municipality.selected {
    stroke-width: 1.5;
}

.municipality.not-selected {
    stroke-width: 0.1;
}