.info {
    float: left;
    position: absolute;
    padding-left: 6px;
    z-index: 99;
    overflow: visible;
}

svg {
    /* SVG Frame */
    outline: thin solid lightgray;
    outline-offset: 0px;
    border-radius: 2pt;
    position: absolute;
}

.region.out-of-focus {
    fill-opacity: .3;
    stroke-width: 0.3;
}

.region.hovered, .region.selected {
    fill-opacity: .6;
    stroke-width: 2;
}

.region {
    fill-opacity: .6;
    stroke: black;
    stroke-width: 0.5;
}

.municipality.out-of-focus {
    fill-opacity: .4;
    stroke-width: 0.1;
}

.municipality {
    fill-opacity: 0.6;
    stroke: black;
    stroke-width: 0.3;
}

.municipality.hovered {
    fill-opacity: 1.0;
}

.municipality.selected {
    fill-opacity: 1.0;
    stroke-width: 1.0;
}