.card.stats {
    height: 100% !important;
}

#pie-chart-container {
    height: 50%;
}

#bar-chart-container {
    height: 50%;
}

.pie-slice, .bar {
    fill-opacity: 1.0;
    stroke: black;
    stroke-width: 0.7;
}


.bar[disabled], .pie-slice[disabled] {
    stroke: grey;
    stroke-width: 1.0;
    fill-opacity: 0.6;
}

.pie-slice.hovered, .pie-slice.selected, .bar.hovered, .bar.selected {
    stroke-width: 2;
}

.pie-slice.not-selected, .bar.not-selected {
    fill-opacity: .4;
}