.container, .row, .card {
    height: 100% !important;
}

.list-group {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.percentage {
    float: right;
}

#map-view > * {
    max-height: 100%; 
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

@media(min-width: 992px) {
    #map-view, #list-view {
        height: 100%;
        padding: 0px;
    }
}

@media(max-width: 992px) {
    #map-view {
        height: 65%;
        padding: 0px;
    }
    #list-view {
        height: 35%;
        padding: 0px;
    }
}

/* MAP */
svg {
    /* SVG Frame */
    outline: thin solid lightgray;
    outline-offset: 0px;
    border-radius: 2pt;
}

.region.out-of-focus {
    fill-opacity: .4;
    stroke: black;
    stroke-width: 0.3;
}

.region.hovered, .region.selected {
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}

.region {
    fill-opacity: .7;
    stroke: black;
    stroke-width: 0.5;
}

.municipality.out-of-focus {
    fill-opacity: .8;
    stroke: black;
    stroke-width: 0.1;
}

.municipality {
    fill-opacity: 1.0;
    stroke: black;
    stroke-width: 0.3;
}

.municipality.selected {
    fill: red;
}